.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}


.content{
  display: flex;
  flex-direction: column;
  row-gap:20px;
  overflow-y: scroll;
  max-height: 600px;
  width: 500px;
  padding: 4px 8px;
}
input{
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 15px;
}