
.body{
    display: flex;
    justify-content: space-between;
  
}
.body__header{
    display: flex;
    align-items: center;
    gap:10px
}

.footer__icon{
    width: 15px;
    height: 15px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}

.footer__desc{
    display: flex;
    align-items: center;
    gap: 6px
}

.footer__languages{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    word-break: break-all;
}
